* {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;

  /* temp */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}