.close_button_root {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.close_button {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  color: var(--gray-white);
  background-color: var(--gray-medium);
  transition: .1s;
}

.close_button:hover {
  cursor: pointer;
  background-color: var(--grafite-medium);
}