.notification_root {
  position: absolute;
  top: -200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 80px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.notification_root.show {
  animation: showBody 1s forwards ease-in-out;
}

.notification_root.hidden {
  animation: hiddenBody 1s forwards ease-in-out;
}

@keyframes showBody {
  0% {
    top: -200px;
    opacity: 0;
  }

  80% {
    top: 55px;
  }

  100% {
    top: 50px;
    opacity: 1;
  }
}

@keyframes hiddenBody {
  0% {
    top: 50px;
    opacity: 1;
  }

  90% {
    top: 50px;
    opacity: 0;
  }

  100% {
    opacity: 0;
    top: -200px;
  }
}

.n_body {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 2px solid #E1DEF3;
  border-radius: 20px;
  background-color: #FAFAFA;
}

.n_body i {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 23px;
  height: 23px;
  color: #6A53F4;
  border: 3px solid #5E4DB7;
  border-radius: 50%;
  margin-right: 12px;
}

.n_description {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.01rem;
  line-height: 150%;
  color: #575274;
}

.n_description strong {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -0.01rem;
  line-height: 150%;
  color: #575274;
  margin-right: 4px;
}
